---
import Layout from "../layout/BasicLayout.astro";
import { getImageUrls } from "../scripts/get-image-urls";

const urls = await getImageUrls();
// console.log(urls);

// if (!Astro.cookies.has("CloudFront-Signature")) {
setCfCookies();
// }
// console.log(cuteAnimals);
---

<Layout>
  <h1>Welcome to S3 Image Gallery</h1>
  <section>
    {
      urls.map((src) => (
        <img
          width="300"
          height="250"
          src={`${CF_URL}/${src}`}
          alt="image from heaven"
        />
      ))
    }
  </section>
  <form id="file-form">
    <input
      type="file"
      required
      name="file"
      id="file"
      accept="image/jpg, image/png"
    />
    <button id="submit-btn" type="submit">upload</button>
  </form>
</Layout>

<style is:global>
  html,
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  form {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    position: fixed;
    bottom: 10px;
    border-radius: 10px;
    background: #ffffffae;
    backdrop-filter: blur(10px)
  }
  h1 {
    font-size: 20px;
  }
  img {
    object-fit: cover;
  }
</style>

<script>
  const form = document.getElementById("file-form") as HTMLFormElement;
  const fileEl = document.getElementById("file") as HTMLInputElement;
  const submitBtn = document.getElementById("submit-btn") as HTMLButtonElement

  const fetchUploadUrl = async () => {
    const res = await fetch("/api/get-upload-url");
    return await res.json();
  };

  const uploadImg = async () => {
    const res = await fetchUploadUrl();
    const formData = new FormData();
    Object.entries(res.fields).forEach((keyval) => {
      //@ts-ignore
      formData.append(...keyval);
    });

    if (fileEl.files === null || fileEl?.files?.length === 0) {
      throw Error("no file present");
    }
    const file = fileEl.files[0];
    formData.append("Content-Type", file.type);
    //make sure to append file at the end
    formData.append("file", file);


    submitBtn.setAttribute('disabled','')
    const uploadRes = await fetch(res.url, {
      method: "POST",
      body: formData,
      mode: "cors",
    });

    console.log(uploadRes);

    if (uploadRes.status !== 204) {
      throw Error("Invalid image");
    }
    form.reset()
    window.location.reload();
  };

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    uploadImg();
  });
</script>
